src/Moonlit.ServiceModel.Sms/MasSmsSendSMS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://192.168.1.155/services/RemoteSendSMS" xmlns:impl="http://192.168.1.155/services/RemoteSendSMS" xmlns:intf="http://192.168.1.155/services/RemoteSendSMS" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://192.168.1.155/services/RemoteSendSMS">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_soapenc_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="sendSMSRequest1">

      <wsdl:part name="exNumber" type="soapenc:string"/>

      <wsdl:part name="phone" type="impl:ArrayOf_soapenc_string"/>

      <wsdl:part name="msg" type="soapenc:string"/>

      <wsdl:part name="timeFlag" type="xsd:int"/>

      <wsdl:part name="smsTime" type="xsd:long"/>

      <wsdl:part name="msgFlag" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="sendSMSResponse">

      <wsdl:part name="sendSMSReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="sendSMSRequest2">

      <wsdl:part name="requestXML" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="sendSMSResponse1">

      <wsdl:part name="sendSMSReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="sendSMSRequest">

      <wsdl:part name="exNumber" type="soapenc:string"/>

      <wsdl:part name="phone" type="soapenc:string"/>

      <wsdl:part name="msg" type="soapenc:string"/>

      <wsdl:part name="timeFlag" type="xsd:int"/>

      <wsdl:part name="smsTime" type="xsd:long"/>

      <wsdl:part name="msgFlag" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="sendSMSResponse2">

      <wsdl:part name="sendSMSReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:portType name="RemoteSendSMS">

      <wsdl:operation name="sendSMS" parameterOrder="exNumber phone msg timeFlag smsTime msgFlag">

         <wsdl:input name="sendSMSRequest" message="impl:sendSMSRequest"/>

         <wsdl:output name="sendSMSResponse" message="impl:sendSMSResponse"/>

      </wsdl:operation>

      <wsdl:operation name="sendSMS" parameterOrder="exNumber phone msg timeFlag smsTime msgFlag">

         <wsdl:input name="sendSMSRequest1" message="impl:sendSMSRequest1"/>

         <wsdl:output name="sendSMSResponse1" message="impl:sendSMSResponse1"/>

      </wsdl:operation>

      <wsdl:operation name="sendSMS" parameterOrder="requestXML">

         <wsdl:input name="sendSMSRequest2" message="impl:sendSMSRequest2"/>

         <wsdl:output name="sendSMSResponse2" message="impl:sendSMSResponse2"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="RemoteSendSMSSoapBinding" type="impl:RemoteSendSMS">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="sendSMS">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sendSMSRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://send.axis.webservice.service.mcc.roya.com"/>

         </wsdl:input>

         <wsdl:output name="sendSMSResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://192.168.1.155/services/RemoteSendSMS"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sendSMS">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sendSMSRequest1">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://send.axis.webservice.service.mcc.roya.com"/>

         </wsdl:input>

         <wsdl:output name="sendSMSResponse1">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://192.168.1.155/services/RemoteSendSMS"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sendSMS">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sendSMSRequest2">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://send.axis.webservice.service.mcc.roya.com"/>

         </wsdl:input>

         <wsdl:output name="sendSMSResponse2">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://192.168.1.155/services/RemoteSendSMS"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="RemoteSendSMSService">

      <wsdl:port name="RemoteSendSMS" binding="impl:RemoteSendSMSSoapBinding">

         <wsdlsoap:address location="http://www.royasoft.com.cn:77/services/RemoteSendSMS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
